@import url("./colors.css");
@import url("./buttons.css");
@import url("./layout.css");
@import url("./typography.css");
@import url("./header.css");
@import url("./table.css");
@import url("./modal.css");

.font-64 {
  font-size: 64px;
}

.font-48 {
  font-size: 48px;
}

.font-36 {
  font-size: 36px;
}

.font-24 {
  font-size: 24px;
}

.font-pressStart {
  font-family: "Press Start 2P";
}

.board {
  border: 3px solid var(--text-color);
  height: 810px;
  width: 400px;
}

.box,
.next {
  min-height: 200px;
  font-size: 1.5rem;
}

.right-column {
  justify-content: space-between;
}

.left-column {
  margin: 20px auto;
  max-height: 300px;
  justify-content: space-between;
}

.right-wrapper {
  height: 300px;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-section {
  margin: 150px auto;
}
