.header {
  background-color: var(--primary-color);
  padding: 0 70px;
  height: 80px;
  border: 2px solid black;
}

.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}

@media (max-width: 600px) {
  .header {
    height: 120px;
  }
  .header ul {
    flex-direction: column;
    justify-content: space-between;
  }

  .header ul li {
    margin: 5px;
  }
}
