@import url("./colors.css");
@import url("./buttons.css");
@import url("./layout.css");
@import url("./typography.css");

.illustration {
  max-height: 70%;
}

@media (max-width: 768px) {
  .div-illustration {
    display: none;
  }
}

@media (max-width: 992px) {
  .illustration {
    max-height: 45%;
  }
}

.gray-bg {
  background-color: var(--bg-color);
}

.buttons h1 {
  margin: 35px 0;
  text-align: center;
}

.buttons a {
  margin: 25px 0;
}
