/* Container que abriga o layout. Deve sempre ser usado */
.container {
  max-width: 92%;
  margin: 0 auto;
  overflow-x: visible;
}

.container-fluid {
  width: 100%;
  overflow-x: hidden;
}

/* Ativa o flexbox */
.flex {
  display: flex;
}

/* Cria uma linha */
.row {
  flex-direction: row;
}

/* Cria colunas */
.col {
  width: 100%;
  flex-direction: column;
}
.col-10 {
  width: 100%;
  flex-direction: column;
}

.col-9 {
  width: 90%;
  flex-direction: column;
}
.col-8 {
  width: 80%;
  flex-direction: column;
}
.col-7 {
  width: 70%;
  flex-direction: column;
}
.col-6 {
  width: 60%;
  flex-direction: column;
}
.col-5 {
  width: 50%;
  flex-direction: column;
}
.col-4 {
  width: 40%;
  flex-direction: column;
}
.col-3 {
  min-width: 30%;
  flex-direction: column;
}
.col-2 {
  width: 20%;
  flex-direction: column;
}
.col-1 {
  width: 10%;
  flex-direction: column;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
  flex-grow: 1;
}

/* Estica o elemento verticalmente */
.v-stretch {
  height: 100vh;
  align-items: stretch;
}

/* Centraliza verticalmente */
.v-center {
  justify-content: center;
  justify-self: center;
}

/* Centraliza horizontalmente */
.h-center {
  align-items: center;
}

html{
  background-color: #E5E5E5;
}