@import url("./colors.css");
@import url("./buttons.css");
@import url("./layout.css");
@import url("./typography.css");
@import url("./form.css");
@import url("./header.css");

.title-profile {
  margin: 50px 0;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
  color: var(--text-color);
}
